{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}


<div class="max-w-lg mx-auto">
<div class="text-sm mb-3 border-b-2 py-2 text-gray-500">
    <a href='/'>Go back to home</a>
</div>
<div class="text-lg mb-3 py-2 text-gray-800">
    <h1>Update a new management</h1>
</div>
    <form method='post'>
        {% csrf_token %}
        {{form|crispy}}
        <div class="py-5 border-blue-500 mt-5 hover:bg-blue-500 rounded-md text-center bg-indigo-500 text-white">
        <input type='submit'/>
        </div>
    </form>
</div>    
{% endblock content %}