{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">STUDENTS</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">This Space is for: {{students.name}}</h1>
        <div class="flex mb-4">
          <a href='{% url 'apps:student_detail' user.pk %}' class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Description</a>
          <a href='/' class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Home</a>
          <a href='{% url 'apps:student_update' user.pk %}' class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Update</a>
        </div>
            <form method='post'>
                {% csrf_token %}
                {{form|crispy}}
                <div class="flex">
                <input class="flex mr-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" type='submit'/>
                </div>
            </form>
        <div class="flex">
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><a href='{% url 'apps:student_delete' user.pk %}'>Delete</a></button>
        </div>
      </div>
    </div>
  </div>
</section>

<h1>Update Student</h1>
    
{% endblock content %}